.main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--accent-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:active .main-body {
  fill: var(--sparks-heart-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .main-body {
  fill: var(--sparks-heart-color);
  transition: fill 0.3s linear 0.05s;
}

.core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.like-icon:hover .core {
  fill: var(--accent-color);
  transition: fill 0.3s linear;
}

.like-icon:active .core {
  fill: var(--sparks-heart-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .core {
  fill: var(--sparks-heart-color);
  transition: fill 0.3s linear;
}

.sparks {
  opacity: 0;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s ease-in 0.3s alternate 1;
}

.like-icon .heart {
  transform-origin: center;
}

.like-icon.is-liked .heart {
  animation: scaling 0.3s ease-in 0.1s alternate 1;
}

.like-icon.is-liked .contour {
  fill: var(--sparks-heart-color);
  transition: fill 0.3s linear 0.06s;
}

.like-icon .contour {
  fill: var(--accent-color);
  transition: fill 0.1s linear;
}

@keyframes sparks {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}

@keyframes scaling {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}

@keyframes arrow {
  from {
    transform: translate(0);
  }
  to {
    transform: translate(4px);
  }
}
